html,
body {
  padding: none;
  margin: none;
}

.bg-black {
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav a:hover {
  color: white;
}

.nav-text-small {
  font-size: 12px;
  line-height: 24px;
}

.menu-collapsed {
  font-size: 34px;
}

header .btn {
  height: 40px;
  background-color: #fff;
  color: black;
  box-sizing: border-box;
}

header .btn:hover {
  border-radius: 0;
  border-bottom: 5px solid grey;
}

input[type="text"] {
  border: none;
}

.text-small {
  font-size: 12px;
  color: gray;
}

.search-wrap {
  border: 1px solid gray;
  border-radius: 25px;
}

.bg-img-trending-1 {
  height: 500px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.67) 100%
    ),
    url(../images/post-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-img-trending-2 {
  height: 250px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.67) 100%
    ),
    url(../images/post-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-img-trending-3 {
  height: 250px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.67) 100%
    ),
    url(../images/post-03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-img-trending-4 {
  height: 250px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.67) 100%
    ),
    url(../images/post-04.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-img-entertainment-1 {
  height: 500px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.67) 100%
    ),
    url(../images/entertaiment-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-img-entertainment-2 {
  height: 250px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.67) 100%
    ),
    url(../images/entertaiment-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-img-entertainment-3 {
  height: 250px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.67) 100%
    ),
    url(../images/entertaiment-03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-img-entertainment-4 {
  height: 250px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.67) 100%
    ),
    url(../images/entertaiment-04.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-img-entertainment-5 {
  height: 250px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.67) 100%
    ),
    url(../images/entertaiment-05.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.category {
  color: white;
}

.border-sections {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
}

.border-pink {
  border-left: 5px solid rgb(177, 34, 106);
}

.color-pink {
  color: rgb(177, 34, 106);
  font-size: 20px;
}

.border-green {
  border-left: 5px solid darkgreen;
}

.color-green {
  color: darkgreen;
  font-size: 20px;
}

.border-yellow {
  border-left: 5px solid chocolate;
}

.color-yellow {
  color: chocolate;
  font-size: 20px;
}

.border-grey {
  border-left: 5px solid darkslategrey;
}

.color-grey {
  color: darkslategrey;
  font-size: 20px;
}

ol {
  counter-reset: li;
  margin-left: 0;
  padding-left: 0;
}
ol > li {
  margin-bottom: 15px;
  list-style: none;
}

li:before {
  content: counter(li);
  counter-increment: li;
  box-sizing: border-box;
  width: 25px;
  margin-right: 15px;
  padding: 5px 10px;
  color: #fff;
  background: rgb(133, 133, 133);
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
}

.icon-large {
  font-size: 25px;
}

.color-darkblue {
  color: #3b5998;
}

.color-blue {
  color: #00acee;
}

.color-red {
  color: #c4302b;
}

.icon-xl {
  font-size: 36px;
}

.card,
.video {
  border-radius: 0 !important;
  margin-left: 15px;
  margin-right: 15px;
}

.bg-mint {
  background-color: #16b978;
}

.submit-email {
  width: 100%;
}

.footer-color {
  background-color: #222222;
}

.btn-social {
  height: 32px;
  box-sizing: border-box;
}

.bg-darkblue {
  background-color: #3b5998;
}

.bg-blue {
  background-color: #00acee;
}

.bg-orange {
  background-color: #db4a39;
}

.bg-red {
  background-color: #c4302b;
}

.comment-form input:not([type="submit"]) {
  width: 50%;
  box-sizing: content-box;
}

.comment-form [type="submit"] {
  width: 25%;
  box-sizing: content-box;
}
